body {
    background-color: rgb(151, 202, 204) ;
  }
  
  #pic {
    text-align: center;
  }
  
  #icons {
    text-align: center;
  }
  
  #mini-layout{
    text-align: center
  }
  
  span {
    display: inline-block;
    font-size: 50px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
  }